:root {
  --nc-tx-1: #ffffff;
  --nc-tx-2: #eeeeee;
  --nc-bg-1: #000000;
  --nc-bg-2: #111111;
  --nc-bg-3: #222222;
  --nc-lk-1: #3291ff;
  --nc-lk-2: #0070f3;
  --nc-lk-tx: #ffffff;
  --nc-ac-1: #7928ca;
  --nc-ac-tx: #ffffff
}

body {
  max-width: 1000px;
  padding: 0.5rem;
}

button[type=reset], button[type=submit].reset-btn {
  background-color: orangered;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
}

.warning, .orange { color: darkorange; }
.error, .red, .errorlist { color: red; }
.error, .bold { font-weight: bold; }
.success, .green { color: #33e980; }

.center-text { text-align: center; }
