:root {
  /* From https://materializecss.com/color.html */
  --nc-lk-1: #2196f3; /* blue */
  --nc-lk-2: #26c6da; /* cyan lighten-1 */
  --nc-bg-2: #fafafa; /* grey lighten-5 */
  --nc-bg-3: #e0e0e0; /* grey lighten-2 */
  --mt-orange: #ff9800;
  --mt-orange-darken-2: #f57c00;
  --mt-red: #f44336;
  --mt-green: #4caf50;
  --mt-grey: #9e9e9e;
  --mt-grey-darken-1: #757575;
}

input::placeholder {
  color: var(--mt-grey-lighten-1);
  font-style: italic;
  opacity: 1;
}

body {
  max-width: 1000px;
  padding: 0.5rem;
}

body.show-debug-warning {
  padding-top: 2rem;
}

#debug-warning {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  height: 1.5rem;
  text-align: center;
  background-color: var(--mt-red);
  font-weight: bold;
  color: #ffffff;
}

* { hyphens: auto; }
code, pre { hyphens: none; }

.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
  filter: brightness(92%);
}

input[type=text], input[type=password], input[type=email], textarea { width: 100%; }

.hidden { display: none; }

.warning, .orange { color: var(--mt-orange-darken-2); }
.bg-orange { background-color: var(--mt-orange); }
.error, .red, .errorlist { color: var(--mt-red); }
button[type=reset], .bg-red { background-color: var(--mt-red); }
.error, .bold { font-weight: bold; }
.success, .green { color: var(--mt-green); }
.bg-green { background-color: var(--mt-green); }
.white { color: #ffffff; }

.center-text { text-align: center; }
.right-text,
.first-td-right td:first-child:not(:only-child),
.first-td-right th:first-child:not(:only-child) {
    text-align: right;
}
.form-table th { width: 25%; }
table caption { text-decoration: underline; }

.boot-btn {
  margin: 2px 0;
  white-space: normal;
}

th { text-align: center; }

.current-page {
  cursor: default;
  text-decoration: none;
  color: var(--mt-grey-darken-1);
}
.current-page:hover { text-decoration: underline; }

img {
  margin: 10px;
}

/* django_select2 */
.autodj-requests-table select, .autodj-requests-table input {
  width: 100%;
}
