body {
  max-width: 1000px;
  padding: 0.5rem;
}

* {
  hyphens: auto;
}

.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
  filter: brightness(80%);
}

button[type=reset], .bg-orangered { background-color: orangered; }
input[type=text], input[type=password], input[type=email] { width: 100%; }

.hidden { display: none; }

.warning, .orange { color: darkorange; }
.bg-orange { background-color: orange; }
.error, .red, .errorlist { color: red; }
.bg-red { background-color: red; }
.error, .bold { font-weight: bold; }
.success, .green { color: #33e980; }
.bg-green { background-color: forestgreen; }

.center-text { text-align: center; }
.right-text,
.first-td-right td:first-child:not(:only-child),
.first-td-right th:first-child:not(:only-child) {
    text-align: right;
}

.boot-btn {
  margin: 2px 0;
  white-space: normal;
}

td, th { border: 1px solid #666666; }
th { text-align: center; text-decoration: underline; }
table.even-columns { table-layout: fixed; }

.current-page {
  cursor: default;
  text-decoration: none;
  color: #aaaaaa;
}
.current-page:hover { text-decoration: underline; }

img {
  margin: 10px;
}
