dev_addr: 127.0.0.1:8888  # Not used by docker-compose
edit_uri: ""
markdown_extensions:
    - admonition
    - attr_list
    - def_list
    - footnotes
    - pymdownx.details
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
    - pymdownx.superfences:
      # make exceptions to highlighting of code:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:mermaid2.fence_mermaid
    - pymdownx.keys
    - pymdownx.smartsymbols
    - pymdownx.tabbed
    - smarty
    - toc:
        permalink: True
nav:
    - Home: index.md
    - User's Guide:
        - AutoDJ: users-guide/autodj.md
        - Prerecorded Broadcasts: users-guide/prerecorded-broadcasts.md
        - Live DJing:
            - Icecast 2: users-guide/dj/icecast.md
            - Zoom: users-guide/dj/zoom.md
            - RTMP: users-guide/dj/rtmp.md
    - Admin's Guide:
        - Configuration: admin-guide/configuration.md
        - AutoDJ: admin-guide/autodj.md
        - User Permissions: admin-guide/permissions.md
        - Google Calendar Scheduling: admin-guide/google-calendar.md
    - Server Setup: server-setup.md
    - Glossary of Terms: glossary.md
    - About & Support:
        - Issues & Support: about/support.md
        - License: about/license.md
        - Changelog: about/changelog.md
        - Author & Miscellany: about/author-miscellany.md
plugins:
    - macros:
        module_name: mkdocs_macros
    - mermaid2:
        arguments:
            theme: dark
    - search
repo_name: dtcooper/carb
repo_url: https://github.com/dtcooper/carb
site_dir: _docs
site_name: Crazy Arms Radio Backend Documentation
site_url: https://crazyarms.xyz
theme:
    favicon: img/favicon.svg
    name: material
    features:
        - navigation.instant
        - navigation.sections
        - navigation.tabs
        - toc.integrate
    palette:
        scheme: slate
        primary: pink
        accent: light blue
    font:
        text: Inter
    icon:
        repo: fontawesome/brands/github
copyright: Copyright &copy; 2020 David Cooper
