argh
dateutils
django-cleanup
django-constance[redis]
django-dirtyfields
django-environ
django-extensions
django-select2
django-redis
Django>=3.0,<4.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
huey
psycopg2-binary
python-dotenv
pyyaml
requests
setproctitle
supervisor
unidecode
watchdog

# Testing, TODO: move this to separate container
pytest
pytest-cov
pytest-django
pytest-flake8
requests-mock
