{% extends 'admin/base_site.html' %}

{% load static %}

{# Adapted from http://www.dmertl.com/blog/?p=116 #}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url 'admin:autodj_audioasset_changelist' %}">Audio assets</a>
    &rsaquo; Bulk upload audio assets
    </div>
{% endblock %}

{% block content %}
    <form action="{% url 'admin:autodj_audioasset_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if save_on_top %}
            <div class="submit-row">
                <input type="submit" value="Bulk Upload" class="default">
            </div>
        {% endif %}

        {% if errors %}
            <p class="errornote">
                Please correct the error{% if errors|length > 1 %}s{% endif %} below.
            </p>
            {{ adminform.form.non_field_errors }}
        {% endif %}

        <div>
            {% for fieldset in adminform %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}
        </div>

        <div class="submit-row">
            <input type="submit" value="Bulk Upload" class="default">
        </div>
    </form>
{% endblock %}
