{% extends 'base.html' %}

{% block extra_head %}
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.js"></script>
  <script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        googleCalendarApiKey: 'AIzaSyB3ldkxpgX9WCH1YXSRAfp3fbIdubINTl8',
        events: {
          googleCalendarId: 'shoutingfirehq@gmail.com'
        }
      });
      calendar.render();
    });

  </script>
{% endblock %}

{% block body %}
<div id="calendar"></div>
{% endblock %}
