{% extends 'base.html' %}

{% block extra_head %}
<style>
  input[type=text], input[type=password] {
    width: 100%;
  }
</style>
{% endblock %}

{% block title %}Crazy Arms Radio Backend - Initial Setup{% endblock %}
{% block header %}
  <h1>Crazy Arms Radio Backend - Initial Setup</h1>
{% endblock %}

{% block content %}
<p>
  Welcome to Crazy Arms Radio Backend! Since no account has yet been created,
  you'll need to create an a new administrator and specify some settings below
  before proceeding.
</p>

<form method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <p>
    <button type="submit">Run Initial Setup</button>
    <button type="reset">Reset Form</button>
  </p>
</form>
{% endblock %}
