{% extends 'base.html' %}

{% block content %}
<table>
  <tr><td><strong>User:</strong></td><td>{{ request.user.username }}</td></tr>
  <tr><td><strong>Contact:</strong></td><td>&quot;{{ request.user.get_full_name }} &lt;{{ request.user.email }}&gt;&quot;</td></tr>
  <tr><td><strong>Harbor Autdorization:</strong></td><td>{{ request.user.get_harbor_auth_display }}</td></tr>
</table>

{% if request.user.harbor_auth != request.user.HarborAuth.NEVER %}
  <details>
    <summary>My Google Calendar show times from {{ show_times_range_start }} to {{ show_times_range_end }}</summary>
      {% if request.user.harbor_auth == request.user.HarborAuth.ALWAYS %}
        <p><em>Note: you are <u>always</u> authorized to broadcast on the harbor.</em></p>
      {% endif %}
      {% if show_times %}
        {{ show_times|length }} show{{ show_times|pluralize }}
        <ol>
        {% for show_time in show_times %}
          <li>{{ show_time.lower }} - {{ show_time.upper }}</li>
        {% endfor %}
        </ol>
      {% else %}
          <p>No show times scheduled.</p>
      {% endif %}
  </details>
{% endif %}
{% endblock %}
