<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}

  <meta charset="utf-8">
  <title>{% block title %}{% if title %}{{ title }} - {% endif %}{{ station_name_override|default:config.STATION_NAME }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'webui/css/new.min.css' %}">
  <link rel="stylesheet" href="{% static 'webui/css/base.css' %}">
  <script src="{% static 'webui/js/base.js' %}"></script>
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block header %}
    <header>
      <h1>
        {{ station_name_override|default:config.STATION_NAME }}
        {% if title %}
          <br><em><small>{{ title }}</small></em>
        {% endif %}
      </h1>
      {% if not hide_nav %}
        <nav>
          {% if user.is_authenticated %}
            <a href="{% url 'status' %}">Status</a> /
            {% if user.is_staff %}
              <a href="{% url 'admin:index' %}">Admin</a> /
            {% endif %}
            {% if settings.ZOOM_ENABLED and user.harbor_auth != user.HarborAuth.NEVER %}
              <a href="{% url 'zoom' %}">Zoom</a> /
            {% endif %}
            <a href="{% url 'user_profile' %}">Profile</a> /
            <a href="{% url 'logout' %}">Logout</a> /
            Welcome, {{ user.username }}.
          {% else %}
            <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </nav>
      {% endif %}
    </header>
  {% endblock %}

  {% if messages %}
    <blockquote>
      Notifications:
      <ul>
        {% for message in messages %}
          <li class="message {{ message.tags }}"><em>{{ message }}</em></li>
        {% endfor %}
      </ul>
    </blockquote>
  {% endif %}

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
