<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}

  <meta charset="utf-8">
  <title>{% block title %}{% if title %}{{ title }} - {% endif %}{{ station_name_override|default:config.STATION_NAME }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="{% static 'common/favicon.svg' %}">
  <link rel="stylesheet" href="{% static 'webui/css/new.css' %}">
  <link rel="stylesheet" href="{% static 'webui/css/base.css' %}">
  <script src="{% static 'webui/js/jquery.min.js' %}"></script>
  <script src="{% static 'webui/js/base.js' %}"></script>
  {% block extrahead %}{% endblock %}
</head>
<body{% if settings.DEBUG %} class="show-debug-warning"{% endif %}>
  {% if settings.DEBUG %}
    <div id="debug-warning">Warning: running in <strong>DEBUG</strong> mode.</div>
  {% endif %}
  {% block header %}
    <header>
      <h1>
        {{ station_name_override|default:config.STATION_NAME }}
        {% if title %}
          <br><em><small>{{ title }}</small></em>
        {% endif %}
      </h1>
      {% if not hide_nav %}
        <nav>
          {% if settings.ICECAST_ENABLED %}
            <button id="play-btn" class="bg-green">&#9654; Play Live Stream</button>
            <br>
          {% endif %}
          {% if user.is_authenticated %}
            <a href="{% url 'status' %}">Stream Status</a> /
            <a href="{% url 'info' %}">Server Info</a> /
            {% if settings.ZOOM_ENABLED and user.harbor_auth != user.HarborAuth.NEVER %}
              <a href="{% url 'zoom' %}">Zoom</a> /
            {% endif %}
            <a href="{% url 'playout_log' %}">Playout Log</a> /
            {% if config.GOOGLE_CALENDAR_ENABLED %}
              <a href="{% url 'gcal' %}">Scheduled Shows</a> /
            {% endif %}
            {% if perms.common.can_boot %}
              <a href="{% url 'banlist' %}">DJ Bans</a> /
            {% endif %}
            <a href="{% url 'profile' %}">Profile</a> /
            <a href="{% url 'logout' %}">Logout</a>
            <br>
            Welcome, {{ user.get_full_name }}.
          {% elif not hide_login_link %}
            <a href="{% url 'login' %}">Login</a> /
          {% endif %}
          {% if user_has_admin_permissions %}
            <strong><a href="{% url 'admin:index' %}">Station Admin</a></strong> /
          {% endif %}
          <a href="https://crazyarms.xyz" target="_blank">Help Docs</a>
        </nav>
      {% endif %}
    </header>
  {% endblock %}

  <blockquote class="message-container hidden">
    Notifications:
    <ul class="message-list">
      {% if messages %}
        {% for message in messages %}
          <li class="{{ message.tags }}">
            <em>{{ message }}</em> <a href="#" class="close-message">[dismiss]</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </blockquote>

  <main>
    {% block content %}{% endblock %}
  </main>

  <hr>

  <footer>
    <p class="center-text">
      <small>
        {% now 'Y' as year %}
        <a href="https://github.com/dtcooper/carb" target="_blank">Crazy Arms Radio Backend</a>
        &copy; 2020{% if year > '2020' %}-{{ year }}{% endif %} David Cooper
      </small>
    </p>
  </footer>
</body>
</html>
