{% extends 'webui/base.html' %}

{% block content %}
{% if user.harbor_auth_actual == user.HarborAuth.NEVER %}
  <p class="error">
    You are currently <u>NOT</u> authorized on the harbor.
    Please contact the station administration if you believe this in error.
  </p>
{% else %}
  <p>
    {% if user.harbor_auth_actual == user.HarborAuth.ALWAYS %}
      <em>Note: you are <strong class="green"><u>ALWAYS</u> authorized</strong> to broadcast on the harbor.</em>
    {% else %} {# user.HarborAuth.GOOGLE_CALENDAR #}
      You are only authorized to broadcast during your scheduled times.
      {% if user.gcal_entry_grace_minutes > 0 or user.gcal_exit_grace_minutes > 0 %}
        Your login grace period:
        <ul>
          {% if user.gcal_entry_grace_minutes > 0 %}
            <li>You can <em>start</em> broadcasting up to
              <strong><u>{{ user.gcal_entry_grace_minutes }} minute{{ user.gcal_entry_grace_minutes|pluralize }}
                <em>before</em> your scheduled time</u></strong>.</li>
          {% endif %}
          {% if user.gcal_exit_grace_minutes > 0 %}
            <li>You can <em>keep</em> broadcasting up to
                <strong><u>{{ user.gcal_exit_grace_minutes }} minute{{ user.gcal_exit_grace_minutes|pluralize }}
                  <em>after</em> your scheduled time</u></strong>.</li>
          {% endif %}
        </ul>
      {% endif %}
    {% endif %}
  </p>
{% endif %}

{% if user.upcoming_show_times or user.current_show_times %}
  {% if user.harbor_auth_actual == user.HarborAuth.NEVER %}
    <p class="orange">Below are your scheduled shows, however you will not be able to broadcast during
      them until you are authorized on the harbor.</p>
  {% endif %}

  {% if user.current_show_times %}
    <p class="orange">
      You have {{ user.current_show_times|pluralize:"a show that is,shows that are" }}
      <strong><em>scheduled for right now!</em></strong>
      {% if user.harbor_auth_actual != user.HarborAuth.NEVER %}
        If you haven't already done so, please start your broadcast.
      {% endif %}
    </p>

    <table class="first-td-right">
      <caption>
        My Current Scheduled Shows
        {% if user.harbor_auth_actual == user.HarborAuth.GOOGLE_CALENDAR %}
          {% if user.gcal_entry_grace_minutes > 0 or user.gcal_exit_grace_minutes > 0 %}
            <em>(Not Including Grace Period)</em>
          {% endif %}
        {% endif %}
      </caption>
      <thead class="white bg-green">
        <tr>
          <th>#</th>
          <th>Start Time ({{ user.timezone }})</th>
          <th>End Time ({{ user.timezone }})</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody class="white bg-green">
        {% for title, start, end in user.current_show_times %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ start }}</td>
            <td>{{ end }}</td>
            <td>{{ title }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if user.upcoming_show_times %}
    <table class="first-td-right">
      <caption>
        My Upcoming Scheduled Shows
        {% if user.harbor_auth_actual == user.HarborAuth.GOOGLE_CALENDAR %}
          {% if user.gcal_entry_grace_minutes > 0 or user.gcal_exit_grace_minutes > 0 %}
            <em>(Not Including Grace Period)</em>
          {% endif %}
        {% endif %}
      </caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Start Time ({{ user.timezone }})</th>
          <th>End Time ({{ user.timezone }})</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        {% for title, start, end in user.upcoming_show_times %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ start }}</td>
            <td>{{ end }}</td>
            <td>{{ title }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% elif user.harbor_auth_actual != user.HarborAuth.NEVER %}
  <p>No show times scheduled. Please contact the station administration if you believe this in error.</p>
{% endif %}
{% endblock %}
