{% extends 'webui/base.html' %}

{% block content %}
{% with host=request.get_host %}
  <table class="first-td-right">
    <caption>Harbor Live DJ Access (Icecast 2)</caption>
    <tr><th width="30%">Server Address (Hostname):</th><td width="70%"><code>{{ host }}</code></td></tr>
    <tr><th>Type:</th><td>Icecast 2 (<b><u>not</u></b> SHOUTCast, sometimes the "2" is omitted)</td></tr>
    <tr><th>Port:</th>
      <td>
        <code>{{ settings.HARBOR_PORT }}</code>
        {% if config.HARBOR_TEST_ENABLED %}
          for <strong>live</strong> stream (port <code>{{ settings.HARBOR_TEST_PORT }}</code> for <em>test</em> stream)
        {% endif %}
      </td>
    </tr>
    <tr><th>Mountpoint:</th><td><code>stream</code></td></tr>
    <tr><th>Username:</th><td><code>{{ user.username }}</code></td></tr>
    <tr>
      <th>Password:</th>
      <td><em><u class="orange"><code>[your-password]</code></u></em> (replace with your password, don't include square brackets)</td>
    </tr>
    <tr>
      <td colspan="2" class="right-text">
          <em>Older clients may only allow you to enter a password. In that case, use:
            <code class="orange">{{ user.username}}:<u>[your-password]</u></code></em>
      </td>
    </tr>
  </table>

  {% if settings.RTMP_ENABLED %}
    <table class="first-td-right">
      <caption>Harbor Live DJ Access (RTMP)</caption>
      <tr>
        <th width="30%">Server Address:</th>
        <td width="70%"><code>rtmp://{{ host }}{% if settings.RTMP_PORT != 1935 %}:{{ settings.RTMP_PORT }}{% endif %}/stream</code></td>
      </tr>
      <tr>
        <th>Stream Key:</th>
        <td>
          <small><code>{{ user.stream_key }}</code></small><br>
          (Generate a new on on your <a href="{% url 'profile' %}">Profile</a> page)
        </td>
      </tr>
    </table>
  {% endif %}

  {% if has_sftp %}
    <table class="first-td-right">
      <caption>SFTP Asset Upload</caption>
      <tr><th width="30%">Server Address (Hostname):</th><td width="70%"><code>{{ host }}</code></td></tr>
      <tr><th>Type:</th><td>SFTP or SSH (sometimes called SCP or SSH2, <b><u>not</u></b> FTP or FTPS)</td></tr>
      <tr><th>Port:</th><td><code>{{ settings.SFTP_PORT }}</code></td></tr>
      <tr><th>Username:</th><td><code>{{ user.username }}</code></td></tr>
      <tr>
        <th>Password:</th>
        <td><em><u class="orange"><code>[your-password]</code></u></em> (replace with your password, don't include square brackets)</td>
      </tr>
      {% if has_sftp_playlists_by_folder %}
        <tr>
          <th>Create Playlist for SFTP Uploads<br>(by folder)</th>
          <td>{{ user.sftp_playlists_by_folder|yesno:'Yes,No' }}</td>
        </tr>
      {% endif %}
    </table>
  {% endif %}

  {% if settings.ICECAST_ENABLED %}
    <table class="first-td-right">
      <caption>Local Icecast Server</caption>
      <tr>
        <th width="30%">Server Status:</th>
        <td width="70%"><code><a href="http://{{ host }}:{{ settings.ICECAST_PORT }}/" target="_blank">http://{{ host }}:{{ settings.ICECAST_PORT }}/</a></code></td>
      </tr>
      <tr>
        <th>Live Stream (direct &amp; insecure):</th>
        <td><code><a href="http://{{ host }}:{{ settings.ICECAST_PORT }}/live" target="_blank">http://{{ host }}:{{ settings.ICECAST_PORT }}/live</a></code></td>
      </tr>
      <tr>
        <th>Live Stream (proxied &amp; {% if request.is_secure %}<u>secure</u>{% else %}insecure{% endif%}):</th>
        <td>
          <code>
            <a href="http{% if request.is_secure %}s{% endif %}://{{ host }}/live" target="_blank">
              http{% if request.is_secure %}s{% endif %}://{{ host }}/live
            </a>
          </code>
        </td>
    </table>
  {% endif %}
{% endwith %}
{% endblock %}
