{% extends 'webui/form.html' %}

{% block content %}

{% if cache_token_usable %}
  <p>Welcome to {{ config.STATION_NAME }}! Please {% if newly_created %}set{% else %}change{% endif %}
    the password for your{% if newly_created %} new{% endif %} account below.</p>

  {{ block.super }}
{% else %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="send_new_email" value="1">
    <p class="center-text">
      <button class="bg-orange" type="submit">Re-send password set email{% if newly_created %} for new account{% endif %}</button>
    </p>
  </form>
{% endif %}
{% endblock %}
