{% extends 'webui/base.html' %}

{% block content %}

<p>
  Below is a
    {% if perms.services.view_playoutlogentry %}simplified{% endif %}
  view of
  {% if object_list.count == MAX_ENTRIES %}
    {% if perms.services.view_playoutlogentry %}<em>only</em>{% endif %}
    the latest {{ MAX_ENTRIES }}
  {% else %}
    all {{ object_list.count }}
  {% endif %}
  playout log entr{{ object_list.count|pluralize:"y,ies" }}.
  Refresh this page to get the most up-to-date data.
  {% if perms.services.view_playoutlogentry %}
  <br>
  <em>
    (For a more advanced view, head over to the
    <strong><a href="{% url 'admin:services_playoutlogentry_changelist' %}">
      Station Admin Site</a></strong>.)
  </em>
  {% endif %}
</p>

<table>
  <caption>Playout Log</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Time ({{ user.timezone }})</th>
      <th>Event Type</th>
      <th>Description</th>
      <th>Active Source</th>
  </thead>
  <tbody>
    {% for playout_log_entry in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ playout_log_entry.created|date:'SHORT_DATETIME_FORMAT' }}</td>
        <td>{{ playout_log_entry.get_event_type_display }}</td>
        <td>
          {# TODO: add playlist to logs? #}

          {# audio assets #}
          {% if config.AUTODJ_ENABLED and playout_log_entry.audio_asset_id and perms.playout.change_audioasset %}
            <a href="{% url 'admin:autodj_audioasset_change' object_id=playout_log_entry.audio_asset_id %}">{{ playout_log_entry.description }}</a>

          {# rotator assets #}
          {% elif config.AUTODJ_ENABLED and config.AUTODJ_STOPSETS_ENABLED and playout_log_entry.rotator_asset_id and perms.playout.change_audioasset %}
            <a href="{% url 'admin:autodj_rotatorasset_change' object_id=playout_log_entry.rotator_asset_id %}">{{ playout_log_entry.description }}</a>

          {# broadcast assets #}
          {% elif playout_log_entry.broadcast_asset_id and perms.broadcast.change_broadcast %}
            <a href="{% url 'admin:broadcast_broadcastasset_change' object_id=playout_log_entry.broadcast_asset_id %}">{{ playout_log_entry.description }}</a>

          {# user related #}
          {% elif user.is_superuser and playout_log_entry.user_id %}
            <a href="{% url 'admin:common_user_change' object_id=playout_log_entry.user_id %}">{{ playout_log_entry.description }}</a>

          {% else%}
            {{ playout_log_entry.description }}
          {% endif %}
        </td>
        <td>{{ playout_log_entry.active_source }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
