{% extends 'webui/form.html' %}

{% block content %}
<p>Update your user profile below. <a href="{% url 'password_change' %}">Click here</a> to change your password.</p>
{{ block.super }}
{% endblock %}

{% block form_table %}
{% if user.is_superuser or groups %}
  <tr>
    <th>Permissions:</th>
    <td>
      {% if user.is_superuser %}
        <strong class="green">All permissions (you're an administrator)</strong>
      {% else %}
        <ul>
          {% for group in groups %}
            <li>{{ group }}{% if forloop.last %}.{% else %};{% if forloop.revcounter == 2 %} and {% endif %}{% endif %}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </td>
  </tr>
{% endif %}

{{ form.as_table }}

{% if settings.RTMP_ENABLED %}
  <tr>
    <th>RTMP Stream Key:</th>
    <td>
      <p><small><code>{{ user.stream_key }}</code></small></p>
      <p class="center-text">
        <button name="update_stream_key" value="1" type="submit">Generate new stream key</button>
      </p>
    </td>
  </tr>
{% endif %}
{% endblock %}
