{% extends 'webui/form.html' %}

{% block content %}
<p>Update your user profile below. <a href="{% url 'password_change' %}">Click here</a> to change your password.</p>
{{ block.super }}
{% endblock %}

{% block form_table %}
{# hack from https://stackoverflow.com/a/9491141 to make sure pressing enter submits (not generate stream key) #}
<button style="overflow: visible !important; height: 0 !important; width: 0 !important; margin: 0 !important; border: 0 !important; padding: 0 !important; display: block !important;" type="submit" />

{% if user.is_superuser or groups %}
  <tr>
    <th>Permissions:</th>
    <td>
      {% if user.is_superuser %}
        <strong class="green">All permissions. You're an administrator.</strong><br>
        (Regular users can only edit parts of this form like timezone, first name, last name, default playlist, and SSH
        {% if settings.RTMP_ENABLED %}and RTMP{% endif %} keys. They can update their email only by verification.)
      {% else %}
        <ul>
          {% for group in groups %}
            <li>{{ group }}{% if forloop.last %}.{% else %};{% if forloop.revcounter == 2 %} and {% endif %}{% endif %}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </td>
  </tr>
{% endif %}

{{ form.as_table }}

{% if settings.RTMP_ENABLED %}
  <tr>
    <th>RTMP stream key:</th>
    <td>
      <p><small><code>{{ user.stream_key }}</code></small></p>
      <p class="center-text">
        <button name="update_stream_key" value="1" type="submit">Generate new stream key</button>
      </p>
    </td>
  </tr>
{% endif %}
{% endblock %}
