{% extends 'webui/base.html' %}

{% load static %}

{% block extrahead %}
{{ liquidsoap_status|json_script:'liquidsoap-status-json' }}
<script>
  {% url 'status_boot' as boot_url %}
  {% url 'status_skip' as skip_url %}
  var statusBootUrl = '{{ boot_url|escapejs }}',
      statusSkipUrl = '{{ skip_url|escapejs }}',
      csrfToken = '{{ csrf_token|escapejs }}',
      perms = {
        "isSuperuser": {{ user.is_superuser|yesno:'true,false' }},
        "canBoot": {{ perms.common.can_boot|yesno:'true,false' }},
        "changeBroadcast": {{ perms.broadcast.change_broadcast|yesno:'true,false' }}
      }
  perms.showActions = perms.isSuperuser || perms.canBoot || perms.changeBroadcast
</script>
<script src="{% static 'webui/js/handlebars.min.js' %}"></script>
<script src="{% static 'webui/js/status.js' %}"></script>
{% endblock %}

{% block content %}

{% verbatim %}
<script id="liquidsoap-status-template" type="text/x-handlebars-template">
<table class="first-td-right">
  <caption>Harbor Information</caption>
  <tr>
    <td width="25%"><strong>Current Stream:</strong></td>
    <td width="75%">
      {{#each sources}}
        {{#if this.is_current_stream}}
          <strong class="green">{{this.name}}</strong>
        {{/if}}
      {{/each}}
      <em>(see below)</em>
    </td>
  </tr>
  <tr>
    <td><strong>Current Metadata:</strong></td>
    <td>
      {{#with metadata}}
        {{#if artist}}{{artist}}{{#if album}} - {{else}}{{#if title}} - {{/if}}{{/if}}{{/if}}
        {{#if album}}{{album}}{{#if title}} - {{/if}}{{/if}}
        {{#if title}}{{title}}{{/if}}
        {{#unless artist}}
          {{#unless album}}
            {{#unless title}}
              <em>none</em>
            {{/unless}}
          {{/unless}}
        {{/unless}}
      {{/with}}
    </td>
  </tr>
  <tr>
    <td><strong>Server Uptime:</strong></td>
    <td><code class="since-timer" data-since="{{server_info.start_time}}"></code></td>
  </tr>
  <tr>
    <td><strong>Liquidsoap Version:</strong></td>
    <td><code>v{{server_info.version}}</code></td>
  </tr>
</table>

{{#if sources}}
  <table>
    <caption>Harbor Sources</caption>
    <thead>
      <tr>
        <th{{#if showActions}} width="12%"{{/if}}>Precedence</th>
        <th{{#if showActions}} width="31%"{{/if}}>Source Name</th>
        <th {{#if showActions}}width="26%"{{else}}colspan="2"{{/if}}>Active</th>
        {{#if showActions}}
          <th width="30%">Actions</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each sources}}
        {{#with this}}
          <tr{{#if is_current_stream}} class="green bold"{{/if}}>
            <td>{{precedence}}</td>

            <td>
              {{name}}
              {{#ifEqual id ../dj_harbor_source}}
                {{#if ../live_user}}
                  {{#with ../live_user}}
                    <span class="green">&mdash; DJ currently connected</span>
                    <ul>
                      <li>User: {{username}} {{#ifNotEqual username full_name}}({{full_name}}){{/ifNotEqual}}</li>
                      <li>Connected for <code class="since-timer" data-since="{{connected_since}}"></code></li>
                    <ul>
                  {{/with}}
                {{else}}
                  &mdash; No user connected
                {{/if}}
              {{/ifEqual}}
            </td>

            <td
            {{#if is_current_stream}}
              >
              Active &amp; streaming
            {{else}}
              {{#if is_active}}
                class="orange">
                Active, not streaming<br>
                (precedence too low)
              {{else}}
                class="red">Inactive (or silent)
              {{/if}}
            {{/if}}
            {{#with (lookup ../timed_sources [id])}}
              <br>
              <code class="track-end" data-end="{{this}}"></code> remaining of track
            {{/with}}
            </td>

            {{#if ../showActions}}
              <td>
                {{#ifContains ../skippable_sources id}}
                  {{#if ../changeBroadcast}}
                    {{#if is_active}}
                      <button class="skip-btn bg-orange" data-name="{{name}}" data-id="{{id}}">Stop<br>(Skip Current Track)</button>
                    {{/if}}
                  {{/if}}
                {{/ifContains}}
                {{#ifEqual id ../dj_harbor_source}}
                  {{#with ../live_user}}
                    {{#if ../../canBoot}}
                      <button class="boot-btn" data-time="60" data-text="1 minute" data-name="{{username}}" data-id="{{user_id}}">
                        Ban {{username}} for 1 minute
                      </button>
                      <br>
                      <button class="boot-btn bg-orange" data-time="900" data-text="15 minutes" data-name="{{username}}" data-id="{{user_id}}">
                        Ban {{username}} for 15 minutes
                      </button>
                      <br>
                      <button class="boot-btn bg-orange" data-time="3600" data-text="1 hour" data-name="{{username}}" data-id="{{user_id}}">
                        Ban {{username}} for 1 hour
                      </button>
                    {{/if}}
                    {{#if ../../isSuperuser}}
                      <br>
                      <button class="boot-btn bg-red" data-time="permanent" data-text="permanently" data-name="{{username}}" data-id="{{user_id}}">
                        Ban {{username}} <strong><u>PERMANENTLY</u></strong><br>
                        (sets harbor authorization to <em>never</em>)
                      </button>
                    {{/if}}
                  {{/with}}

                {{/ifEqual}}
              </td>
            {{/if}}
          </tr>
        {{/with}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p class="error">The harbor appears to be down. Please try again later.</p>
{{/if}}
</script>
{% endverbatim %}
<div id="liquidsoap-status"></div>

{% if settings.ICECAST_ENABLED %}
  <table class="even-columns first-td-right">
    <caption>Local Icecast Server</caption>
    <tr>
      <td>Server Status:</td>
      <td><a href="http://{{ request.get_host }}:8000/" target="_blank">http://{{ request.get_host }}:8000/</a></td>
    </tr>
    <tr>
      <td>Live Stream (direct &amp; insecure):</td>
      <td><a href="http://{{ request.get_host }}:8000/live" target="_blank">http://{{ request.get_host }}:8000/live</a></td>
    </tr>
    <tr>
      <td>Live Stream (proxied &amp; {% if request.is_secure %}<u>secure</u>{% else %}insecure{% endif%}):</td>
      <td>
        <a href="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/live" target="_blank">
          http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/live
        </a>
      </td>
  </table>
{% endif %}

<table class="even-columns first-td-right">
  <caption>Current User</caption>
  <tr>
    <td>Username:</td>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <td>Contact:</td>
    <td>"{{ user.get_full_name }}" &lt;{{ user.email }}&gt;</td>
  </tr>
  <tr>
    <td>Harbor Authorization:</td>
    <td>{{ user.harbor_auth_pretty }}</td>
  </tr>
  <tr>
    <td>Timezone:</td>
    <td>{{ user.get_timezone_display }} (currently {% now 'SHORT_DATETIME_FORMAT' %})</td>
  </tr>
</table>

{% endblock %}
