{% extends 'webui/base.html' %}

{% load static %}

{% block extrahead %}
{{ liquidsoap_status|json_script:'liquidsoap-status-json' }}
<script>
  {% url 'status_boot' as boot_url %}
  var statusBootUrl = '{{ boot_url|escapejs }}',
      csrfToken = '{{ csrf_token|escapejs }}',
      showBoot = {{ perms.common.can_boot|yesno:'true,false' }},
      showBan = {{ user.is_superuser|yesno:'true,false' }}
</script>
<script src="{% static 'webui/js/handlebars.min.js' %}"></script>
<script src="{% static 'webui/js/status.js' %}"></script>
{% endblock %}

{% block content %}

{% verbatim %}
<script id="liquidsoap-status-template" type="text/x-handlebars-template">
{{#if sources}}
  <table>
    <caption>Harbor Sources</caption>
    <thead>
      <tr>
        <th width="25%">Precedence</th>
        <th width="30%">Source Name</th>
        <th width="50%" colspan="2">Active</th>
      </tr>
    </thead>
    <tbody>
      {{#each sources}}
        {{#with this}}
          <tr{{#if current_stream}} class="green bold"{{/if}}>
            <td>{{precedence}}</td>
            <td>{{name}}{{#if user}}: {{user}}{{/if}}</td>
            {{#if current_stream}}
              <td {{#if ../showBoot}}{{#if user}} width="25%"{{else}}colspan="2"{{/if}}{{else}}colspan="2"{{/if}}>Active &amp; streaming</td>
            {{else}}
              {{#if active}}
                <td class="orange" {{#if ../showBoot}}{{#if user}} width="25%"{{else}}colspan="2"{{/if}}{{else}}colspan="2"{{/if}}>Active, not streaming (precedence too low)</td>
              {{else}}
                <td class="red" colspan="2">Inactive</td>
              {{/if}}
            {{/if}}
            {{#if ../showBoot}}
              {{#if user}}
                <td width="25%">
                  <button class="boot-btn" data-time="60" data-text="1 minute" data-name="{{user}}" data-id="{{user_id}}">
                    Ban {{user}} for 1 minute
                  </button>
                  <button class="boot-btn bg-orange" data-time="900" data-text="15 minutes" data-name="{{user}}" data-id="{{user_id}}">
                    Ban {{user}} for 15 minutes
                  </button>
                  <button class="boot-btn bg-orange" data-time="3600" data-text="1 hour" data-name="{{user}}" data-id="{{user_id}}">
                    Ban {{user}} for 1 hour
                  </button>
                  {{#if ../showBan}}
                    <button class="boot-btn bg-red" data-time="permanent" data-text="permanently" data-name="{{user}}" data-id="{{user_id}}">
                      Ban {{user}} <strong><u>PERMANENTLY</u></strong><br>
                      (sets harbor authorization to <em>never</em>)
                    </button>
                  {{/if}}
                </td>
              {{/if}}
            {{/if}}
          </tr>
        {{/with}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p class="error">The harbor appears to be down. Please try again later.</p>
{{/if}}
</script>
{% endverbatim %}
<div id="liquidsoap-status"></div>

<table>
  <caption>Server Info</caption>
  {% for description, value in server_info %}
    <tr>
      <td><strong>{{ description }}</strong></td>
      <td>{{ value }}</td>
    </tr>
  {% endfor %}
</table>

<table>
  <caption>User</caption>
  {% for description, value in user_info %}
    <tr>
      <td><strong>{{ description }}</strong></td>
      <td>{{ value }}</td>
    </tr>
  {% endfor %}
</table>
</div>


{% if config.GOOGLE_CALENDAR_ENABLED and user.harbor_auth != user.HarborAuth.NEVER %}
  <details>
    <summary>
      {{ user.show_times|length }} Google Calendar show time{{ user.show_times|pluralize }}
      from {{ show_times_range_start }} to {{ show_times_range_end }}
    </summary>
    {% if user.harbor_auth == user.HarborAuth.ALWAYS %}
      <p><em>Note: you are <u>always</u> authorized to broadcast on the harbor.</em></p>
    {% endif %}
    {% if user.show_times %}
      {# TODO: Filter these shows times by today final show, not all days, if NOW >= lower bound #}
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Start Time</th>
            <th>End Time</th></tr>
        </thead>
        <tbody>
          {% for show_time in user.show_times %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ show_time.lower }}</td>
              <td>{{ show_time.upper }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No show times scheduled.</p>
    {% endif %}
  </details>
{% endif %}
{% endblock %}
