{% extends 'webui/form.html' %}

{% load static %}

{% block content %}
<p>
  Status:
  {% if zoom_is_running %}
    {% if zoom_belongs_to_current_user %}
      <span class="orange">Zoom is currently running in your room</span>.
    {% else%}
      <span class="red">Zoom is currently in use</span> by {{ zoom_user.get_full_name }}.
      You will <u class="red"><b>NOT</b></u> be able to broadcast until after the current show ends.
    {% endif %}
    {% if room_ttl_hours or room_ttl_minutes %}
      <br>
      In
      {% if room_ttl_hours %}
        {{ room_ttl_hours }} hour{{ room_ttl_hours|pluralize }}{% if room_ttl_minutes %},{% endif %}
      {% endif %}
      {% if room_ttl_minutes %}
        {{ room_ttl_minutes }} minute{{ room_ttl_minutes|pluralize }}
      {% endif %}
      {% if zoom_belongs_to_current_user %}your{% else %}the current{% endif %} show ends.
    {% endif %}
    {% if user.is_superuser or zoom_belongs_to_current_user %}
      <br>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="bg-orangered" data-confirm-text="Are you sure you want to stop the current Zoom broadcast?" name="stop_zoom" value="1">
          <u><b>Click here to END
            {% if zoom_belongs_to_current_user %}your{% else %}{{ zoom_user.get_full_name }}'s{% endif %}
            current Zoom Broadcast</b></u>
        </button>
      </form>
    {% endif %}
  {% else %}
    <span class="green">Zoom is not currently running</span>.<br>
    {% if currently_authorized %}
      Start a show by filling out the form below.
    {% else %}
      <span class="error">You are currently not authorized to broadcast.</span>
      {% if user.harbor_auth_actual == user.HarborAuth.GOOGLE_CALENDAR %}
        <br>
        {% if user.upcoming_show_times %}
          Your next scheduled show: <strong class="green">{{ user.upcoming_show_times|first|first }}
            &mdash; {{ user.upcoming_show_times|first|last }} ({{ user.timezone }})</strong>
          {% if user.google_calender_entry_grace_minutes > 0 or user.google_calender_exit_grace_minutes > 0 %}
            <br>
              {% if user.google_calender_entry_grace_minutes > 0 %}
                You can start your show up to {{ user.google_calender_entry_grace_minutes }} minutes early
              {% endif %}
              {% if user.google_calender_exit_grace_minutes > 0 %}
                {% if user.google_calender_entry_grace_minutes > 0 %}and{% else %}You can{% endif %}
                keep broadcasting up to {{ user.google_calender_exit_grace_minutes }} minutes afterwards.
              {% endif %}
          {% endif %}
          <br>Come back to this page then.
        {% else %}
          <span class="error">You have no upcoming scheduled shows.</span>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
</p>

<p>For more information on how to use Zoom broadcasting, consult the
  <a href="https://crazyarms.xyz/users-guide/dj/zoom/" target="_blank">Help Docs</a>.
</p>

{% if currently_authorized and not zoom_is_running %}
  {# Show form if the user is authorized and Zoom isn't currently running #}
  {{ block.super}}
{% else %}
  {{ form.errors }}
{% endif %}

{% endblock %}
