{% extends 'admin/base_site.html' %}

{% load static %}

{% block welcome-msg %}
  Welcome,
  <strong>{{ user.get_full_name }}</strong>.
{% endblock %}

{% block userlinks %}
<a href="{% url 'status' %}">Back to Status Page</a> /
<a href="https://crazyarms.xyz" target="_blank">Help Docs</a> /
{{ block.super }}
{% endblock %}

{% block extrahead %}
<link rel="icon" type="image/svg+xml" href="{% static 'common/favicon.svg' %}">
<link rel="stylesheet" href="{% static 'common/admin/css/custom.css' %}">
{{ block.super}}
<style>

</style>
{% endblock %}

{% block footer %}
<div id="footer">
  <hr/>
  <div class="container pull-left">
    <h5 style="text-align: center;">
      {% now 'Y' as year %}
      <a href="https://github.com/dtcooper/carb" target="_blank">Crazy Arms Radio Backend</a>
      version {{ carb_version }} &copy; 2020{% if year > '2020' %}-{{ year }}{% endif %} David Cooper.
    </h5>
  </div>
</div>
{% endblock %}
