{% extends 'admin/base_site.html' %}

{% load static %}

{% block extrastyle %}
{{ block.super}}
<style>
  .help {
    font-size: 14px !important;
  }
</style>
{% endblock %}

{% block footer %}
<div id="footer">
  <hr/>
  <div class="container pull-left">
    <h5 style="text-align: center;">
      {% now 'Y' as year %}
      <a href="https://github.com/dtcooper/carb" target="_blank">Crazy Arms Radio Backend</a>
      &copy; 2020{% if year > '2020' %}-{{ year }}{% endif %} David Cooper.
    </h5>
  </div>
</div>
{% endblock %}
