<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ settings.STATION_NAME }}{% if title %} - {{ title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <style>
    .errorlist {
      color: red;
    }
  </style>
</head>
<body>
  <header>
    <h1>{{ settings.STATION_NAME }}{% if title %} - {{ title }}{% endif %}</h1>
    {% if not hidenav %}
      <nav>
        Welcome, {{ user.username }}. / <a href="#">Admin</a> / <a href="{% url 'admin:logout' %}">Logout</a>
    {% endif %}
  </header>
  <main>
    {% block body %}{% endblock %}
  </main>
</body>
</html>
