<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ config.STATION_NAME }}{% if title %} - {{ title }}{% endif %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/new.min.css' %}">
  <style>
    .errorlist {
      color: red;
    }

    button[type=reset] {
      background-color: orangered;
    }
  </style>
  {% block extra_head %}{% endblock %}
</head>
<body>
  <header>
    {% block header %}
      <h1>{{ config.STATION_NAME }}{% if title %} - {{ title }}{% endif %}</h1>
      <nav>
        <a href="{% url 'status' %}">Status</a> /
        <a href="{% url 'admin:index' %}">Admin</a> /
        <a href="{% url 'admin:logout' %}">Logout</a> /
        Welcome, {{ user.username }}.
      </nav>
    {% endblock %}
  </header>
  <main>
    {% block body %}{% endblock %}
  </main>
</body>
</html>
